<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h4>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :headline, "Question (one line summary)" %>
    <%= form.text_field :headline, id: :question_headline, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, "Details" %>
    <%= form.text_area :content, id: :question_content, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, "Your tags (comma-separated)" %><br/>
    <%= form.text_field :tag_list, placeholder:"Currently restricted to 3-letter departmental abbreviations, (i.e. 'cos, mol, wws')", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= check_box_tag(:anon) %>
    <%= label_tag(:anon, "Submit anonymously (leave unchecked to show your netid)") %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Question", class:"btn btn-success"%>
  </div>
<% end %>
