<!-- display the question -->
	<div class="panel-body">
		<!-- right div: up/down arrows -->
		<div style="float:right">
			<br><br>
		    <div> <!-- up arrow -->
		        <% if current_user.voted_up_on? @question %>
		            <button class="btn btn-default btn-sm" disabled="true">
		             <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> 
		             </button>  
		        <% else %>
		            <% if current_user.voted_down_on? @question %>
		                <%= button_to question_undodownvote_path(@question), class:"btn btn-default btn-sm", method: :put, remote: true do %>
		                 <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>   
		                <% end %>           
		            <% else %>
		                <%= button_to question_upvote_path(@question), class:"btn btn-default btn-sm", method: :put, remote: true do %>
		                 <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>   
		                <% end %>
		            <% end %>
		        <% end %>
			</div>

		    <!-- current ranking -->
		    <div class="text-center" style="font-size:16px;line-height: 22px;height: 22px;">
		        <%= @question.weighted_score %>
		    </div>

		    <div> <!-- down arrow -->
		        <% if current_user.voted_down_on? @question %>
		            <button class="btn btn-default btn-sm" disabled="true">
		                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		            </button>   
		        <% else %>
		            <% if current_user.voted_up_on? @question %>
		                <%= button_to question_undoupvote_path(@question), class:"btn btn-default btn-sm", method: :put, remote: true do %>
		                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>   
		                <% end %>           
		            <% else %>
		                <%= button_to question_downvote_path(@question), class:"btn btn-default btn-sm", method: :put, remote: true do %>
		                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>   
		                <% end %>
		            <% end %>
		        <% end %>
		    </div>
		</div>
		<!-- left div: question information -->
		<div>
      		<div><span style="font-size:16px" class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
			 <%= link_to 'Back', questions_path, style:"font-size:16px" %> </div>
			 <br>
			<div class="pull-right" style="padding-right:10px;">
				<!-- display star -->
			    <% if current_user.starred.include? (question.id) %>
			        <!-- if question already starred, then show filled star. Click to unstar -->
			        <%= link_to question_unstar_path(question), method: :put, remote: true do %><span class="glyphicon glyphicon-star" style="font-size:24px;color:#f4df42;"></span><% end %> 
			    <% else %>
			        <!-- if question not starred, then show empty star. Click to star -->
			        <%= link_to question_star_path(question), method: :put, remote: true do %><span class="glyphicon glyphicon-star-empty" style="font-size:24px;color:#bfbdbc;"></span><% end %> 
			    <% end %> 
		    </div>

			<p>
			  <span style="font-size:20px"><b><%= @question.headline %></b></span>
			    <!-- if question is resolved, display green check mark -->
    			<% if @question.resolved %>
				    <span class="glyphicon glyphicon-ok" style="color:#29b265; font-size:20px" aria-hidden="true"></span> 
				<% end %>
			</p>
			<p>
			  <% @question.tag_list.each do |tag| %>
			  		<span class="label label-pill label-info"><%= tag %></span>
			  <% end %>
			</p>
			<p>
			  <span style="font-size:16px"><%= @question.content %></span>
			</p>
		</div>
	</div>
	<div class="panel-footer">
		<% if user_signed_in? and current_user.owns_question?(@question) %>
			<% if !@question.resolved %>
				<%= link_to 'Mark as Resolved', question_resolved_path(@question), method: :put, remote: true %> |
			<% end %>
			<%= link_to 'Edit', edit_question_path(@question) %> |
			<%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<span class="pull-right text-muted">
			Updated 
			<span class="grey-text">
				<% if @question.created_at > Time.now.beginning_of_day %>
				    <%="#{time_ago_in_words(@question.created_at)} ago"%> 
				<% else %>
				    <%= @question.created_at.strftime("%b %d, %Y") %> 
				<% end %>
			</span>	
			by 
			<% if @question.anon %> 
				Anonymous
			<% else %>
				<%=User.find_by_id(@question.user_id).username%>
			<% end %>
		</span>
    </div>