<p id="notice"><%= notice %></p>

</br>
<h5><b>Questions</b></h5>

<table class="striped">
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td>
        	<span class="badge grey-text">
        		<% if question.created_at > Time.now.beginning_of_day %>
				    <%="#{time_ago_in_words(question.created_at)} ago"%> 
				<% else %>
				    <%= question.created_at.strftime("%b %d, %Y") %> 
				<% end %>
        	</span>
        	<b><%= link_to question.headline, question %> </b>
	        </br>
	        <%= question.content.truncate(200) %>
		    </br>
	
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: "waves-effect waves-light btn"%>
