<body>
    <%= render '/layouts/nav' %> 
    <div class="container"> 
    	<!-- left hand side layout -->
    	<div class="col-md-8 panel panel-default"> 
    	    <br>
    		<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
    		      <%= link_to 'Back', questions_path %>

    		<h3><b>New Question</b></h3>

    		<%= render 'form', question: @question %>
    		<br>
        </div>

        <!-- right hand side layout -->
        <div class="col-md-4"> 
          <!-- container for user info -->
            <div class="panel panel-default">
                <br>
                <div class="panel-body">
                    <h4>Welcome, <b><%= current_user.username %>@</b></h4>
                </div>
                <div class="panel-footer">
                    <h4><b>Rules and site conventions</b></h4>
                    <p>Before you post, please keep in mind the following:</p>
                    <p> 1) Search to see if your question has already been asked
                    </p>
                    <p> 2) Keep it relevant to academic advising </p>
                    <p> 3) No spam, mean comments, or otherwise inappropriate content. (To report a post, email qashew.forum@gmail.com) </p>
                    <p> 4) <a href="/privacy">Privacy policy</a> </p>
                </div>
            </div>
            <!-- container for search and trending tags -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <%= form_tag(questions_path, method: :get, class:"form-horizontal") do %>
                            <%= text_field_tag :term, params[:term], style:"width:80%", class:"form-control col-sm-6", placeholder: "Search by keyword, tag..." %>
                            <%= button_tag(:type => 'submit', style:"float:right;", :class => 'btn btn-default col-sm-2') do %>
                                    <span class="glyphicon glyphicon-search"></span>
                            <% end %>
                        <% end %>
                    </div>
                    <br><br>   
                </div>
                <div class="panel-footer">
                    <h4><b>Trending tags</b></h4>
                        <div id='tag_cloud'>
                          <% tag_cloud Question.tag_counts, %w{h5 h4 h3 h2} do |tag, css_class| %>
                              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                          <% end %>
                        </div>
                </div>
            </div>
      	</div>
    </div>
</body>