<li>
	<div style="position:relative;">
		<!-- right div: up/down arrows -->
		<div style="float:right">
		    <div> <!-- up arrow -->
		            <i class="small material-icons blue-text">keyboard_arrow_up</i> 
		            
		    </div>
		    <!-- current ranking -->
		    <div class="grey-text text-darken-1 center" style="line-height: 10px;height: 15px;">
		        32
		    </div>
		    <div> <!-- down arrow -->
		            <i class="small material-icons blue-text">keyboard_arrow_down</i>    

		    </div>
		</div>

		<!-- left div: answer -->
		<div>
		    <!-- display username -->
		 	<b><%= User.find_by_id(answer.user_id).username if User.find_by_id(answer.user_id)%></b>
		 	<br>	
		     <!-- display how long ago the answer was created-->
			<div class="grey-text" style="font-size: 12px;">
			    <% if answer.created_at > Time.now.beginning_of_day %>
			        <%="#{time_ago_in_words(answer.created_at)} ago"%> 
			    <% else %>
			        <%= answer.created_at.strftime("%b %d, %Y") %> 
			    <% end %>
			</div>

		    <!-- display content -->
		   	<%= answer.content %>
		    <div> 
		        <% if current_user.id == answer.user_id %>
		            <%= link_to 'Delete', question_answer_path(answer.question_id, answer.id), method: :delete, data: {confirm: "Are you sure?"} %>
		        <% end %>
		    </div>
		    <br>
		</div>
	</div>
</li>
