<body>  
        <%= render '/layouts/nav' %>

    <div class="container"> 
    	<!-- left hand side layout -->
    	<div class="col-md-8 panel panel-default"> 
    	    <h4><b>@<%=current_user.username%></b></h4>
        </div>

        <!-- right hand side layout -->
        <div class="col-md-4"> 
          <!-- container for user info -->
            <div class="panel panel-default">
                <br>
                <div class="panel-body">
                    <h4>Welcome, <b><%= current_user.username %></b></h4>
                </div>
                <div class="panel-footer">
                    My Notifications 
                    <span class="badge badge-pill pull-right" style="background-color:#999595;">0</span>   
                </div>
            </div>
            <!-- container for search and trending tags -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <%= form_tag(questions_path, method: :get, class:"form-horizontal") do %>
                            <%= text_field_tag :term, params[:term], style:"width:80%", class:"form-control col-sm-6", placeholder: "Search by keyword, tag..." %>
                            <%= button_tag(:type => 'submit', style:"float:right;", :class => 'btn btn-default col-sm-2') do %>
                                    <span class="glyphicon glyphicon-search"></span>
                            <% end %>
                        <% end %>
                    </div>
                    <br><br>   
                </div>
                <div class="panel-footer">
                    <h4><b>Trending tags</b></h4>
                        <div id='tag_cloud'>
                          <% tag_cloud Question.tag_counts, %w{h5 h4 h3 h2} do |tag, css_class| %>
                              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                          <% end %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>