<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Q+Ashew", root_path, class:"navbar-brand", style:"font-size:23px;"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <%= form_tag(questions_path, method: :get) do %>
                    <%= text_field_tag :term, params[:term], class:"form-control", placeholder: "Search by keyword, tag..." %>
                    <%= submit_tag 'Search', name: nil, class:"btn btn-default" %>
        <% end %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" style="font-size:16px;" > Home </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:16px;"><%= current_user.username %>  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/<%=current_user.username%>"> My Feed </a></li>
            <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>